<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Home Page</title>
</head>
<body>
      <h1>
            API ROUTES
      </h1>
      <h4>REQUEST TYPE - ROUTE - DESCRIPTION</h4>
      <h4>GET - /api   -   Home Page</h4>
      <h4>GET - /api/student - List of all student </h4>
      <h4>GET - /api/student?classId=((ObjectId)) - list of student of a class</h4>
      <h4>POST - /api/student - add a student to db</h4>
      <h4>GET - /api/student/id - get info of one student</h4>
      <h4>PUT - /api/student/id - update info of student</h4>
      <h4>DELETE - /api/student/id - delete a student from db</h4>
</body>
</html>